[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {version = "*", extras = ["http2", "brotli"]}
github-action-utils = "*"

[dev-packages]
ruff = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
